:root {
    --cordofundo: #24F296;
    --corfonte: #13BF91;
}


  fundo{
    margin: 0;
    padding: 0;

  }
  
  .rodape {

   width: 100%;
   height: 100px;
   background-color: var(--cordofundo);
  }

  .maringa{
    width: 100%;
    height: 500px;
  }