* {
  font-family: monospace;
}
a {
  text-decoration: none;
}

:root {
  --cordofundo: #AD0E00;
  --corfonte: #ffffff;
}

body {
  background-color: #610800;
}

.lota {
  margin: 0;
  padding: 0;
}

.rodapeTop {
  background-color: var(--cordofundo);
  color: var(--corfonte);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.rodape {
  background-color: var(--cordofundo);
  color: var(--corfonte);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}


.resumov {
  display: flex;
  justify-content: center;
  align-items: center;
  border: inset;
  border-color: #ad0e00;
  background-color: #e65245;
  height: 773px;
}

h1 {
  border: dashed;
  border-color: #610800;
}

.FAKE {
  height: 100px;
}

/* Menu expancivel !!!*/
nav {
  background-color: #66251f;
  color: #fff;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  position: relative;
}

li a {
  display: block;
  padding: 10px;
  color: rgb(255, 255, 255);
  text-decoration:none;
}
li a:hover {
  display: block;
  padding: 10px;
  color: rgb(0, 0, 0);
  background-color: #ffffff;
}

li ul {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  background-color: #ad0e00;
}

li:hover > ul {
  display: block;
  background-color: #ad0e00;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr auto;
  min-height: 100vh;
}

header {
  grid-row: 1 / 2;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

main {
  grid-row: 2 / 4;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
  padding: 20px;
}

aside {
  grid-column: 1 / span 4;
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

section {
  grid-column: 5 / span 8;
  background-color: #fff;
  color:#000;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

section:hover {
  background-color: #000;
  color:#fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

footer {
  grid-row: 4 / 5;
}
